<div class="container">
    <main role="main" class="pb-3">
      <div class="container">
        <h2>Login</h2>
        <form>
          <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" class="form-control" id="email" name="email" [(ngModel)]="loginDto.email" required>
          </div>
          <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" class="form-control" id="password" name="password" [(ngModel)]="loginDto.password" required>
          </div>
          <button (click)="login(loginDto)" class="btn btn-primary">Login</button>
        </form>
        <a href="/register" class="primary-link">Dont Have Account? Sign up</a>
      </div>
    </main>
  </div>